<div class="w-full h-[180px] bg-card p-4 rounded cursor-pointer flex flex-col gap-2 overflow-hidden"
  (click)="goToDetails()">
  <div class="flex flex-col h-full gap-2">
    <!-- Title -->
    <h3 class="!text-base !font-bold !text-black !m-0">{{ title }}</h3>

    <!-- Date and author -->
    <div class="flex items-center text-sm font-normal text-black">
      <span>{{ formatDate(createdAt) }}</span>
      <span class="mx-1.5">•</span>
      <span>{{ capitalizeFirstLetter(author) }}</span>
    </div>

    <!-- Content -->
    <div class="text-sm font-normal text-black overflow-hidden line-clamp-5">
      <span class="font-medium">Content: </span>
      <span>{{ content }}</span>
    </div>
  </div>
</div>