<app-protected-layout>
  <main content class="container mx-auto px-4 pb-8 pt-4">
    <div class="cursor-pointer absolute top-[75px] left-4 block md:hidden mb-12" (click)="goBack()">
      <img src="/assets/back_arrow.svg" alt="back arrow" class="w-[24px] h-[24px]" />
    </div>
    <header class="flex items-center justify-start gap-4 mb-6">
      <h1 class="text-2xlxl !font-bold absolute left-1/2 transform -translate-x-1/2">Créer un nouvel article</h1>
    </header>

    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="max-w-2xl mx-auto flex flex-col gap-4 pt-4">
      <div class="space-y-2">
        <select formControlName="themeId" class="w-full p-2 border rounded-lg bg-white">
          <option value="" disabled>Sélectionner un thème</option>
          <option *ngFor="let theme of themes" [value]="theme.id">
            {{ theme.title }}
          </option>
        </select>
      </div>

      <app-input formControlName="title" placeholder="Titre de l'article"
        [isInvalid]="articleForm.get('title')?.invalid && articleForm.get('title')?.touched"
        errorMessage="Le titre est requis"></app-input>

      <app-textarea formControlName="content" placeholder="Contenu de l'article" [rows]="6"
        [isInvalid]="articleForm.get('content')?.invalid && articleForm.get('content')?.touched"
        errorMessage="Le contenu est requis"></app-textarea>

      <div class="flex justify-center">
        <app-button type="submit" variant="submit" [disabled]="!articleForm.valid || isLoading">
          {{ isLoading ? 'Création en cours...' : 'Créer' }}
        </app-button>
      </div>
    </form>
  </main>
</app-protected-layout>