.sheet-container {
  position: relative;
  width: 60dvw;
  min-height: 100dvh;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Variante pour le menu mobile */
:host(.absolute) .sheet-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 256px;
  height: 100dvh;
  margin: 0;
  border-right: none;
  border-top: none;
  border-bottom: none;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
}

.sheet-body {
  margin-top: 32px;
  flex-grow: 1;
  width: 100%;
}

.sheet-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: white;
  border-top: 1px solid #eee;
} 