<app-protected-layout>
  <main content class="container mx-auto px-4 py-8">
    <div *ngIf="isLoading" class="flex justify-center items-center py-8">
      <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-gray-900"></div>
    </div>

    <div *ngIf="!isLoading && errorMessage" class="text-center text-red-600 py-8">
      {{ errorMessage }}
    </div>

    <div *ngIf="!isLoading && !errorMessage && article" class="max-w-3xl mx-auto">
      <header class="flex items-center justify-start gap-4 mb-6">
        <button (click)="goBack()" class="flex items-center justify-center">
          <img src="/assets/back_arrow.svg" alt="back arrow" class="w-[24px] h-[24px]" />
        </button>
        <h1 class="!text-2xl !font-semibold !text-black">{{ article.title }}</h1>
      </header>

      <div class="flex flex-col gap-6">
        <section class="flex flex-col gap-6 md:gap-12">
          <aside class="flex flex-wrap gap-4 md:gap-6 text-black text-xl font-normal">
            <div>Date: {{ article.createdAt | date:'dd/MM/yyyy' }}</div>
            <div>Auteur: {{ article.authorName }}</div>
            <div *ngIf="article.themeTitle">Thème: {{ article.themeTitle }}</div>
          </aside>

          <div class="text-black text-xl font-normal">
            Content: {{ article.content }}
          </div>
        </section>

        <div class="w-full h-px bg-black"></div>

        <section>
          <h2 class="!text-xl !font-normal !text-black max-md:!mb-4 md:!mb-6">Commentaires</h2>

          <div *ngIf="!isLoadingComments" class="space-y-4">
            <div *ngIf="comments.length === 0" class="text-gray-500 text-center py-4">
              Aucun commentaire pour le moment.
            </div>

            <app-comment-card *ngFor="let comment of comments" [userName]="comment.userName"
              [content]="comment.content">
            </app-comment-card>
          </div>

          <div *ngIf="isLoadingComments" class="flex justify-center items-center py-4">
            <div class="animate-spin rounded-full h-6 w-6 border-t-2 border-b-2 border-gray-900"></div>
          </div>

          <div class="mb-8">
            <app-comment-form [articleId]="+article.id" (commentAdded)="onCommentAdded()">
            </app-comment-form>
          </div>

        </section>
      </div>
    </div>
  </main>
</app-protected-layout>