<div class="flex flex-col w-full">
  <label [for]="id" class="mb-1 font-normal text-base" [class.text-red-500]="isInvalid">
    {{ label }}
  </label>
  <textarea [id]="id" [placeholder]="placeholder" [required]="required" [disabled]="disabled" [value]="value"
    [rows]="rows" (input)="onInputChange($event)"
    class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-black resize-none"
    [class.border-red-500]="isInvalid">
  </textarea>
  <div *ngIf="isInvalid && errorMessage" class="text-red-500 text-xs mt-1">
    {{ errorMessage }}
  </div>
</div>